.confirmed {
    border: 1px solid blue;
    max-width: 18rem;
}

.skipped {
    border: 1px solid red;
    max-width: 18rem;
}

.active {
    border: 1px solid black;
    max-width: 18rem;
}

.buttons button {
    margin-right: 0.8rem;
}

.card-text {
    height: 12vh;
}

.cards {
    margin-top: 8rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}